/* Стили для подменю */
.dropdown-item {
    cursor: pointer;
    /* color: black !important;  */
}

.dropdown-submenu {
    position: relative;
  }
  
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0;
    border-radius: 0.25rem;
    display: none;
  }
  
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }


  .dropdown-menu-left {
    top: 0;
    left: -100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0.25rem;
  }
  
  .dropdown-submenu:hover > .dropdown-menu-left {
    display: block;
  }

  