<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-sliders2-vertical"></i>
              Администратор
          </a>
          <ul class="dropdown-menu">
              <li>
                  <a class="dropdown-item" (click)="navigate('app-orglist')">
                      Организации
                  </a>
              </li>
              <li>
                  <a class="dropdown-item" (click)="navigate('app-userlist')">
                      Пользователи
                  </a>
              </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-folder-check"></i>
              Справочники
          </a>
          <ul class="dropdown-menu">
              <li>
                  <a class="dropdown-item" (click)="navigate('app-spec')"><i class="bi bi-printer"></i> 
                      Программы
                  </a>
              </li>
              <li>
                  <a class="dropdown-item" (click)="navigate('app-fkr')"><i class="bi bi-person-lines-fill"></i> 
                      Специфики
                  </a>
              </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-file-earmark-text"></i>
              Документы
          </a>
          <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" (click)="navigate('app-pkfo')"><i class="bi bi-person-lines-fill"></i> 
                    ПКФО
                </a>
            </li>


            <li>
                <a class="dropdown-item" (click)="navigate('authorlistComponent')"><i class="bi bi-person-lines-fill"></i> 
                    Свод ПКФО
                </a>
            </li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-file-bar-graph"></i> 
            Отчеты
          </a>
          <ul class="dropdown-menu dropdown-menu-right">          
            <li>
                <a class="dropdown-item" (click)="navigate('authorlistComponent')"><i class="bi bi-person-lines-fill"></i> 
                    Индифидуальный ПКФО
                </a>
            </li> 
            
            <li>
              <a class="dropdown-item" (click)="navigate('authorlistComponent')"><i class="bi bi-person-lines-fill"></i> 
                  Сводный ПКФО
              </a>
          </li> 
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<mat-tab-group [selectedIndex]="selected.value"
             (selectedIndexChange)="tabchange($event)"
             mat-stretch-tabs="false" mat-align-tabs="start"
             headerPosition="above">

<ng-container *ngFor="let tab of tabs; let index = index">
  <mat-tab>
      <ng-template mat-tab-label>
          <div style="display: flex; justify-content: center; align-items: center; height: auto;">
              <span style="width: calc(95%)">
                  {{ tab.paramlabel }}
              </span>
              <mat-icon class="example-tab-icon" (click)="removeTab(index)" style="font-size: 16px; height: 16px; width: 16px;">close</mat-icon>
          </div>
      </ng-template>

    <ng-container *ngIf="tab.component">
      <ng-container *ngComponentOutlet="tab.component; inputs: tab.inputs"></ng-container>
    </ng-container>

  </mat-tab>
</ng-container>
</mat-tab-group>
