
<div class="content">
    <div class="toolbar">  
      <div style="width: calc(100vw); padding-right: 15px;"> 
        <div class="input-group input-group-sm mb-3" style="height: 15px; width: 160px; float: right;">
          <input type="search" placeholder="поиск..." class="form-control" [(ngModel)]="search" (change)="ngOnInit()" >
        </div>
         
        <button type="button" class="btn btn-primary" 
              style=" float: right; margin-right: 5px; --bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="ngOnInit()">
              <i class="bi bi-arrow-repeat  fs-6"></i>
        </button>
      </div>
    </div>
    

    <div class="table-container">
      <table mat-table [dataSource]="ds" class="mat-elevation-z8">
  
        <ng-container matColumnDef="nomer">
          <th mat-header-cell *matHeaderCellDef style="width: 15vw;">
            БИН
          </th>
          <td mat-cell *matCellDef="let element" (dblclick)="openItem(element)">{{element.bin}}</td>
        </ng-container>
    
        
    
        <ng-container matColumnDef="_organization_namerus">
          <th mat-header-cell *matHeaderCellDef>
            Наименование каз
          </th>
          <td mat-cell *matCellDef="let element" (dblclick)="openItem(element)" style="width: 35vw;" class="input-text">{{element.nameKaz}}</td>
        </ng-container>

        <ng-container matColumnDef="_organization_namekaz">
          <th mat-header-cell *matHeaderCellDef>
            Наименование рус
          </th>
          <td mat-cell *matCellDef="let element" (dblclick)="openItem(element)" style="width: 35vw;" class="input-text">{{element.nameRus}}</td>
        </ng-container>
  
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            Действие
          </th>
          <td mat-cell *matCellDef="let element">
              <!-- <mat-icon (click)="delete(element.id)" style="color: red;">delete</mat-icon> -->
          </td>
        </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayCols; sticky:true" style="font-size: 14px; height: 35px;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayCols;" style="font-size: 12px; height: 25px;" (dblclick)="openItem(row)"></tr>
      </table>
    </div>
      
  </div>
    
  
  